$color-black: #252525;
$color-black-33: #00000033;

*{
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    box-sizing: border-box;
}

body {
    background-image: url(./img/背景.jpg);
    background-size: 100px;

}

nav{
    display: grid;
    grid-template-columns: 20% 50% 15% 15%;
    padding: 30px 5px;
    align-items: center;
    z-index: 1;
    background: #ffffff55;
    position: fixed;
    width: 100vw;
    border-bottom: 1px solid $color-black-33;
    
    #logo {
        color: $color-black;
        font-size: 26   px;
    }

    a {
        text-decoration: none;
        color: $color-black;
    }

}

#banner {
    img{
        height: 100vh;
        object-fit: cover;  
    }
}

@mixin setion-box {
    // 溢出:隱藏 -超出此元素範圍外的內容皆隱藏
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    
    img{
        width: 100%;
    }
    
    
}

#about {
    @include setion-box()
}

#product {
    @include setion-box();

    grid-template-areas: "text pic";*:nth-child(1){
        grid-area: pic;
    }

    *:nth-child(1) {
        grid-area: pic;
    }
    *:nth-child(2) {
        grid-area: text;
    }
}

#brand {
    width: 45%;
    margin: 0 auto;

    img{
        margin: 20px;
    }
}

footer {
    text-align: center;
    margin-top: 100px;
    padding: 30px 0;
    color: $color-black-33;
}